<header>
  <div class="header">
  <h1>MyEcopla</h1>
    <div class="login_nav">
      <% if user_signed_in? %>
        <div class="user_nav">
          <div class="user-nickname"><%= current_user.nickname %></div>
          <div class="logout" id="exit-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
        </div>
      <% end %>
    </div>
  </div>
</header>