#canvas-1 {
  border-radius: 350px;
  border: 10px solid rgb(0, 100, 200);
  transform: rotate(-90deg);
}

.canvas_view {
  display: flex;
}

#canvas-frame-2,
#canvas-2 {
  height: 5px;
  width: 200px;
  
}

#canvas-frame-2 {
  background-color: rgba(0, 150, 255, 0.1);
  display: flex;
}

#canvas-2 {
  background-color: rgb(0, 150, 255);
}

.parcent_num {
  display: flex;
  padding-right: 7.5px;
}

.mode_select_menu {
  display: block;
  padding-top: 10px;
}

.payment_select_box {
  display: block;
  width: 60px;
  height: 40px;
  font-size: 20px;
}

.current_num {
  font-size: 30px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: rgb(0, 150, 255);
}

.num_view {
  display: flex;
}

#low_num {
  font-size: 8px;
  font-weight: 600;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: rgb(0, 150, 255);
  padding-top: 4px;
}

#tank {
  color: rgb(0, 150, 255);
}