#canvas-1 {
  border-radius: 350px;
  border: 10px solid rgb(0, 100, 200);
  transform: rotate(-90deg);
}

.canvas_view {
  display: flex;
}

#canvas-frame-2,
#canvas-2 {
  height: 5px;
  width: 200px;
  
}

#canvas-frame-2 {
  background-color: rgba(0, 200, 200, 0.25);
  display: flex;
}

#canvas-2 {
  background-color: rgb(0, 150, 255);
}

.parcent_num {
  display: flex;
  padding-right: 7.5px;
}

.payment_select_box {
  width: 60px;
  height: 40px;
  font-size: 20px;
}

.current_num {
  font-size: 32px;
}