body {
  background-color: rgb(200, 200, 200);
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
  color: navy;
}

/* 編集画面(日付) */
.data_field {
  font-size: 20px;
  text-align: center;
}

/* 数値表示 */

.sum_amount_num,
.blance_amount,
.income,
.expend,
.total_amount {
  font-family: 'League Spartan', sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}

.count_amount_num {
  font-size: 16px;
  color: black;
}

.parcent_num {
  font-size: 30px;
  color: black;
}

/* 入力フォーム */

.form_date {
  width: 15vw;
  font-size: 20px;
  justify-content: center;
  font-family: 'League Spartan', sans-serif;
  background-color: rgb(210, 210, 210);
}

.form_purpose {
  width: 15vw;
  font-size: 16px;
  background-color: rgb(210, 210, 210);
}

.ancestry_forms {
  width: 15vw;
  font-size: 14px;
  background-color: rgb(210, 210, 210);
  text-align: right;
}

.form_ancestry {
  width: 14vw;
  font-size: 14px;
  background-color: rgb(210, 210, 210);
}

.form_amount {
  width: 15vw;
  justify-content: left;
  font-size: 30px;
  font-family: 'League Spartan', sans-serif;
  color: white;
  background-color: rgb(210, 210, 210);
  font-weight: 600;
  -webkit-text-stroke: 0.5px black;
  margin: 0 5px;
}

.form_payment {
  width: 12vw;
  font-size: 18px;
  background-color: rgb(210, 210, 210);
}

/* 新規・編集画面 */
.tb_columns {
  height: 27px;
}

.balances_list {
  height: 78px
}

.payments_balance_table,
.tb_columns,
.balances_list {
  table-layout: fixed;
  margin: 0 20vw;
}

.tb_date,
.balance_form_date {
  border: 1px solid #101010;
  width: 15vw;
  padding: 3px;
}

.tb_date {
  border-bottom: none;
}
.balance_form_date {
  border-top: none;
}

.tb_purpose,
.balance_form_purpose {
  border: 1px solid #101010;;
  width: 15vw;
  padding: 3px;
}

.tb_purpose {
  border-bottom: none;
}

.balance_form_purpose {
  border-top: none;
}

.tb_amount,
.balance_form_amount {
  border: 1px solid #101010;
  width: 15vw;
  padding: 3px;
}

.tb_amount {
  border-bottom: none;
}

.balance_form_amount {
  border-top: none;
}

.tb_payment,
.balance_form_payment {
  border: 1px solid #101010;
  width: 12vw;
  padding: 3px;
}

.tb_payment {
  border-bottom: none;
}

.balance_form_payment {
  border-top: none;
}

.tb_delete,
.balance_form_delete {
  width: 10vw;
  padding: 3px;
}

.tb_date,
.tb_purpose,
.tb_amount,
.tb_payment {
  font-size: 13px;
  color: rgb(100, 100, 100);
}

.balance_form_date,
.balance_form_purpose,
.balance_form_amount,
.balance_form_payment {
  height: 60px;
  border-collapse: collapse;
  border-spacing: 0;
}

.tb_delete {
  height: 10px;
}

.balance_form_delete {
  height: 50px;
  padding: 0 20px;
}

/* 詳細画面 */

.show_tb_purpose {
  border: 1px solid #101010;
  width: 250px;
}

.show_tb_amount {
  border: 1px solid #101010;
  width: 160px;
}

.show_tb_payment {
  border: 1px solid #101010;
  width: 120px;
}

.blance_propuse {
  padding-left: 10px;
  border: 1px solid #101010;
}

.blance_amount {
  padding-right: 15px;
  border: 1px solid #101010;
}

.blance_payment {
  border: 1px solid #101010;
}

.tb_income  {
  border:1px solid #101010;
  width: 120px;
}

.tb_expend  {
  border: 1px solid #101010;
  width: 120px;
}

.tb_total_amount {
  border: 1px solid #101010;
  width: 120px;
}

.income  {
  padding-right: 15px;
  border: 1px solid #101010;
}

.expend  {
  padding-right: 15px;
  border: 1px solid #101010;
}

.total_amount {
  padding-right: 15px;
  border: 1px solid #101010;
}

.show_payments,
.total_payments,
.balance_forms {
  text-align: center;
}

.show_payments {
  margin: 0 auto;
}

.total_payments {
  margin: 60px 0 50px 40vw;
}

/* コントロールボタン */

.setting_menu {
  margin: 20px 0 0 60vw;
  display: flex;
  text-align: center;
}

.add-form {
  color: white;
  background-color:darkcyan;
  font-size: 32px;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px 82vw 0 82vw;
  width: 40px;
  height: 40px;
}

.delete-form {
  color: white;
  background-color: red;
  font-size: 32px;
  font-weight: bold;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.save_btn {
  color: white;
  background-color: green;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  width: 120px;
  height: 37px;
}

.deactive_btn {
  background-color: rgb(40, 47, 40);
  align-items: center;
  padding-top: 5px;
  font-size: 20px;
  border-radius: 5px;
  width: 120px;
  height: 32px;
}

.edit,
.back {
  margin: 0 10px;
  color: white;
  background-color: rgb(225, 225, 225);
  padding-top: 5px;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #101010;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  align-items: center;
}

.new_list {
  text-align: center;
  margin: 0 10px;
  color: white;
  background-color: rgb(225, 225, 225);
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #101010;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  align-items: center;
}

.current_mode {
  display: flex;
  margin-bottom: 10px;
}

.cash_num {
  margin-left: 20px;
}