/* ログイン画面 */

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.user_nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 300px;
  height: 50px;
}

.user-nickname {
  padding-top: 30px;
  width: 100px;
  text-align: right;
}

.logout {
  margin: 20px 20px;
  color: white;
  font-size: 16px;
  background-color:darkgrey;
  padding: 5px 15px 0 20px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 110px;
  height: 30px;
  align-items: center;
}