/* 数値表示 */

.sum_amount_num,
.blance_amount,
.income,
.expend,
.total_amount {
  font-family: 'League Spartan', sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}

.count_amount_num {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  color: black;
}

.parcent_num {
  font-size: 30px;
  color: black;
}

/* 入力フォーム */

.form_amount {
  font-family: 'League Spartan', sans-serif;
  width: 120px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  -webkit-text-stroke: 0.5px black;
  margin: 0 5px;
}

.form_purpose {
  width: 150px;
  margin: auto;
}

/* テーブル */

.payments_balance_table {
  margin: 0 auto;
}

.tb_date {
  border:1px solid #333;
  width: 140px;
}

.tb_purpose {
  border:1px solid #333;
  width: 170px;
}

.tb_amount {
  border:1px solid #333;
  width: 120px;
}

.tb_payment {
  border:1px solid #333;
  width: 120px;
}

.tb_delete {
  width: 45px;
}


.balance_form_date {
  width: 140px;
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #333;
  justify-content: center;
}

.balance_form_purpose {
  width: 170px;
  border-collapse: collapse;
  border-spacing: 0;
  border-spacing: 0;
  border:1px solid #333;
  justify-content: center;
}

.balance_form_amount {
  width: 120px;
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #333;
}

.balance_form_payment {
  width: 120px;
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid #333;
}

.balance_form_delete {
  width: 45px;
  padding: 0 5px;
}

.add-form {
  color: white;
  background-color:darkcyan;
}

.delete-form {
  color: white;
  background-color: red;
}

.save_btn {
  color: white;
  background-color: green;
}